<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/diceRoller.css">
</head>
<body>
  <header>
    <h1>
      <a href="/">GameHub</a>
    </h1>
    <nav>
      <ul>
        <li>
          <%# ici j'indique le chemin de ma route pour diceRoller %>
          <a href="/game/diceRoller">Dice Roller</a>
        </li>
        <li>
          <a href="/game/fourchette">Fourchette</a>
        </li>
      </ul>
    </nav>
  </header>