<%- include('partials/header') %>

  <main>

    <h3>Page non trouvée</h3>
    <img class="img-center" src="https://images.pexels.com/photos/163728/dead-end-sign-cul-de-sac-hopeless-163728.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="illustration d'une impasse">

  </main>

<%- include('partials/footer') %>